<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HANA</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        {% load static %}

        <link rel="stylesheet" href="{% static 'swarman/hana_dark.css' %}">
        {% block templateStatics %}{% endblock %}
    </head>

    <body class="d-flex flex-column min-vh-100 bg-dark">
        <header>
            {% block navbar %}
                {% include '_items/navbar.html' %}
            {% endblock %}
        </header>
        <main class="flex-shrink-0">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </main>

        
        {% block footer %}
            {% include '_items/footer.html' %}
        {% endblock %}
        

    </body>

    
</html>