{% extends 'base.html' %}


{% block content %}
    <div class="row">
        {% for node in nodes %}
            <div class="col-2" style="text-align: center;">
                <a href="{% url 'swarman:node_detail' node.0 %}">{{ node.0 }}</a><br>
                {{ node.2|title }}<br>
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="{% if node.1 == 'ready' %}green{% else %}red{% endif %}" class="bi bi-circle-fill" viewbox="0 0 10 10"><circle cx="5" cy="5" r="5" /></svg> {{ node.1|title }}
            </div>
        {% endfor %}
    </div>
    </ul>
    <br>
    <ul>
        {% for service in services %}
            <li>{{ service.0}}
                <ul>
                    <li>Image: {{ service.1 }}</li>
                    <li>Created at: {{ service.2 }}</li>
                    <li>Ports: {{ service.3 }}:{{ service.4 }}</li>
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}