{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-9">
            Node Details
        </div>
        <div class="col-3">
            Node Actions
            <ul>
                <li>Promote / Demote Node</li>
                <li>Pause Node - No New Tasks assigned to node</li>
                <li>Drain Node - No New Tasks, Current Tasks are stopped and moved to other nodes</li>
                <li>Activate Node - Available if Node is Paused or Drain State</li>
                <li>Leave Swarm</li>

                

            </ul>
        </div>
    </div>
</div>
{% endblock %}