{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row" style="padding-bottom: 20px">
        <div class='col' style="padding-top: 10px;">
        <a class="btn btn-outline-primary" href="{% url 'swarman:swarm-dashboard' swarm_id %}">Back to Swarm</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
                <div class="col">
                    <h5>{{ service.Spec.Name }} Details</h5>
                        <p>
                            {% if running_tasks == service.Spec.Mode.Replicated.Replicas %}
                                Running<br>
                            {% elif running_tasks == 0 and service.Spec.Mode.Replicated.Replicas == 0%}
                                Paused<br>
                            {% elif 0 < running_tasks < service.Spec.Mode.Replicated.Replicas %}
                                Degraded<br>
                            {% elif running_tasks == 0 %}
                                Error<br>
                            {% endif %}
                             <!-- Live Data - Get from JS -->
                            {{ running_tasks }} / {{ service.Spec.Mode.Replicated.Replicas }}
                        </p>
                        
                        <p>
                            <strong>ID:</strong> {{ service.ID }} <br>
                            <strong>Image:</strong> {{ service.Spec.TaskTemplate.ContainerSpec.Image }} <br>
                            <strong>Ports:</strong> {{ service.Spec.EndpointSpec.Ports.0.PublishedPort }} / {{ service.Spec.EndpointSpec.Ports.0.TargetPort }}  <br>
                        </p>
                        
                </div>
        </div>
        <div class="col-sm-3 text-center">
            <h5>Node Actions</h5>
                <!-- Live Data - Get from JS The Availability Buttons should be populated by Javascript -->
                {% if running_tasks == 0 and service.Spec.Mode.Replicated.Replicas == 0 %}
                    <div class="row" style="padding-top: 10px;">
                        <button type="button" class="btn btn-success" onclick="">Restart Service</button>
                    </div>
                {% endif %}
                {% if 0 < running_tasks and service.Spec.Mode.Replicated.Replicas > 0 %}
                    <div class="row" style="padding-top: 10px;">
                        <button type="button" class="btn btn-warning" onclick="">Pause Service</button>
                    </div>
                {% endif %}
                    <div class="row" style="padding-top: 10px;">
                        <button type="button" class="btn btn-secondary" onclick="">Scale Service</button>
                    </div>
        </div>
    </div>
</div>

<script language='javascript'>

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

</script>
{% endblock %}