{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <h2>{{ swarm.swarm_name }}</h2>
    </div>
    <div class="row">
        <div class="col-9">
            <div class="row">
                {% for node in nodes %}
                    <div class="col-2 text-center">
                        <p><h5><a class="link-dark" href="#">{{ node.hostname|title }}</a></h5></p>
                        <p>{{ node.role }}</p>
                        <p><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="{% if node.get_status == 'ready' %}green{% else %}red{% endif %}" class="bi bi-circle-fill" viewbox="0 0 10 10"><circle cx="5" cy="5" r="5" /></svg> {{ node.get_status|title }}

                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-2">
            <p>Swarm Status: </p>
            <p>Manager Count: {{ swarm.manager_count }}</p>
            <p>Node Count: {{ swarm.node_count }}</p>
            <p>Services: </p>
        </div>
    </div>

{% endblock %}