.hana-nav-dropdown {
    background-color : #292b2c;
    color: #BCCCDC;
}

.hana-nav-item {
    color: #BCCCDC;
}

h1, h2, h3, h4, h5, h6 a{
    color: #9FB3C5;
}

a {
    color: #9FB3C5;
}

p {
    color: #BCCCDC
}

.card-body {
    background-color: #212529;
}