.hana-nav-dropdown {
    background-color : #212121;
    color: #BCCCDC;
}

.hana-nav-item {
    color: #AAAAAA;
}

h1, h2, h3, h4, h5, h6 a{
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
}

p {
    color: #FFFFFF;
}

.card-body {
    background-color: #212121;
}

.active {
    color: #0eb9a8;
}

.ready {
    color: #0eb9a8;
}

.running {
    color: #0eb9a8;
}

.pause {
    color: #D89216;
}

.degraded {
    color: #F36411;
}

.error {
    color: #FF0000;
}

.drain {
    color: blue;
}